services:
  kafka_topic_creator:
    image: confluentinc/cp-kafka
    command: /bin/sh -c 'for x in {0..$GAME_SIZE_X}; do for y in {0..$GAME_SIZE_Y}; do kafka-topics --create --bootstrap-server kafka0:29092 --replication-factor 2 --partitions 1 --topic $$x-$$y; done; done'
    container_name: kafka_topics_creator
    profiles: ["topics"]
    networks:
      - kafka-network
  life_cell_0:
    image: life_cell
    environment:
      KAFKA_BROKERS: $KAFKA_BROKERS
      GAME_SIZE: ${GAME_SIZE_X}x${GAME_SIZE_Y}
      RUST_LOG: $RUST_LOG
      CELLS: 0-20
    container_name: life_cell_0
    profiles: ["run"]
    networks:
      - kafka-network
  life_cell_1:
    image: life_cell
    environment:
      KAFKA_BROKERS: $KAFKA_BROKERS
      GAME_SIZE: ${GAME_SIZE_X}x${GAME_SIZE_Y}
      RUST_LOG: $RUST_LOG
      CELLS: 20-40
    container_name: life_cell_1
    profiles: ["run"]
    networks:
      - kafka-network
  life_cell_2:
    image: life_cell
    environment:
      KAFKA_BROKERS: $KAFKA_BROKERS
      GAME_SIZE: ${GAME_SIZE_X}x${GAME_SIZE_Y}
      RUST_LOG: $RUST_LOG
      CELLS: 40-60
    container_name: life_cell_2
    profiles: ["run"]
    networks:
      - kafka-network
  life_cell_3:
    image: life_cell
    environment:
      KAFKA_BROKERS: $KAFKA_BROKERS
      GAME_SIZE: ${GAME_SIZE_X}x${GAME_SIZE_Y}
      RUST_LOG: $RUST_LOG
      CELLS: 60-80
    container_name: life_cell_3
    profiles: ["run"]
    networks:
      - kafka-network
  life_cell_4:
    image: life_cell
    environment:
      KAFKA_BROKERS: $KAFKA_BROKERS
      GAME_SIZE: ${GAME_SIZE_X}x${GAME_SIZE_Y}
      RUST_LOG: $RUST_LOG
      CELLS: 80-100
    container_name: life_cell_4
    profiles: ["run"]
    networks:
      - kafka-network

networks:
  kafka-network:
    driver: bridge
