services:
  kafka_topic_creator:
    image: confluentinc/cp-kafka
    command: /bin/sh -c 'for x in {0..9}; do for y in {0..9}; do kafka-topics --create --bootstrap-server kafka0:29092 --replication-factor 2 --partitions 1 --topic $$x-$$y; done; done'
    container_name: kafka_topic_creator
    profiles: ["setup"]
    networks:
      - kafka-network
  life_cell_0:
    image: life_cell
    environment:
      KAFKA_BROKERS: kafka0:29092,kafka1:29092,kafka2:29092
      GAME_SIZE: 10x10
      CELLS: 0-20
      RUST_LOG: debug
    container_name: life_cell_0
    profiles: ["dev"]
    networks:
      - kafka-network
  life_cell_1:
    image: life_cell
    environment:
      KAFKA_BROKERS: kafka0:29092,kafka1:29092,kafka2:29092
      GAME_SIZE: 10x10
      CELLS: 20-40
      RUST_LOG: debug
    container_name: life_cell_1
    profiles: ["dev"]
    networks:
      - kafka-network
  life_cell_2:
    image: life_cell
    environment:
      KAFKA_BROKERS: kafka0:29092,kafka1:29092,kafka2:29092
      GAME_SIZE: 10x10
      CELLS: 40-60
      RUST_LOG: debug
    container_name: life_cell_2
    profiles: ["dev"]
    networks:
      - kafka-network
  life_cell_3:
    image: life_cell
    environment:
      KAFKA_BROKERS: kafka0:29092,kafka1:29092,kafka2:29092
      GAME_SIZE: 10x10
      CELLS: 60-80
      RUST_LOG: debug
    container_name: life_cell_3
    profiles: ["dev"]
    networks:
      - kafka-network
  life_cell_4:
    image: life_cell
    environment:
      KAFKA_BROKERS: kafka0:29092,kafka1:29092,kafka2:29092
      GAME_SIZE: 10x10
      CELLS: 80-100
      RUST_LOG: debug
    container_name: life_cell_4
    profiles: ["dev"]
    networks:
      - kafka-network

networks:
  kafka-network:
    driver: bridge

